beautifulsoup4==4.11.1
bs4==0.0.1
contourpy==1.0.6
coverage==5.5
cycler==0.11.0
deprecation==2.1.0
eyed3==0.9.7
filetype==1.2.0
fonttools==4.38.0
kiwisolver==1.4.4
matplotlib==3.6.2
numpy==1.24.1
packaging==22.0
pandas==1.5.2
Pillow==9.3.0
plotly==5.11.0
PyAudio==0.2.13
pyAudioAnalysis==0.3.14
pydub==0.25.1
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.7
scipy==1.9.3
six==1.16.0
soupsieve==2.3.2.post1
tenacity==8.1.0
toml==0.10.2
tqdm==4.64.1
